@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700");

// fonts
.raleway-font {
  font-family: "Raleway";
}

.poppins-font {
  font-family: "Poppins";
}

.space-font {
  font-family: "Space Grotesk";
}

.lora-font {
  font-family: "Lora";
}

// spacings
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;
$spacing-6: 24px;
$spacing-7: 28px;
$spacing-8: 32px;
$spacing-9: 36px;
$spacing-10: 40px;
$spacing-11: 44px;
$spacing-12: 48px;
$spacing-13: 52px;
$spacing-14: 56px;
$spacing-15: 60px;
$spacing-16: 64px;
$spacing-17: 68px;
$spacing-18: 72px;
$spacing-19: 76px;
$spacing-20: 80px;
$spacing-30: 120px;
$spacing-40: 160px;

// colors
$primary: #8740ed;
$secondary: #c082ff;
$tertiary: #7967ff;
$quaternary: #5b25b9;
$white: #fff;
$black: #1f1f1f;
$yellow: #f7fc04;
$background-app-bar: rgba(255, 255, 255, 0.06);
$text-button: rgba(255, 255, 255, 0.8);
$gray-primary: #27272a;
$gray-secondary: #18181b;
$gray-tertiary: #9b9b9b;

// breakpoints
$mobile: 0;
$tablet: 450px;
$desktop: 700px;
